# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Python
# =========================
__pycache__/
*.pyc
venv/
.venv/

# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
*.tsbuildinfo

# =========================
# Local database
# =========================
*.db

# =========================
# macOS
# =========================
.DS_Store